.container {
	@apply grid 
	
	grid-rows-[10%_90%]
	 
	bg-gradient-to-tr from-[#5ef5ce] to-[#4ab6ea]

	min-h-screen
	min-w-full;
}

.head {
	@apply grid;
}

.returnButton {
	@apply grid
	
	grid-cols-[1fr_4fr]
	gap-1

	w-[400px]
	
	mx-2
	my-1;
}

.form {
	@apply grid
	absolute 
	
	justify-self-center 
	place-self-center 

	text-center
	
	w-[25%] 
	max-w-[500px] 
	h-[60%] 
	
	z-10 
	
	bg-black;
}

.content {
	@apply grid
	
	grid-rows-[10fr_1fr]
	
	w-screen
	h-full;
}

.quiz {
	@apply grid
	relative
	grid-rows-[14%_3fr]
	
	w-full
	h-full;
}

.question {
	@apply text-xl
	
	justify-self-center
	place-self-center;
}

.options {
	@apply grid

	my-2
	grid-cols-2
	gap-36;
}

.options li {
	@apply grid
	relative

	grid-rows-[3fr_1fr]
	pb-0
	
	h-[90%]
	min-h-[500px]

	w-[40%]
	min-w-[500px]

	break-words

	text-black

	bg-white;
}

.paginate {
	@apply flex
	
	w-full
	h-min
	
	place-self-center
	justify-center
	
	p-4
	
	text-slate-600
	text-[calc(12px+1vw)]
	font-semibold;
}

.paginatePage {
	@apply font-semibold px-2
	
	hidden;
}

.paginateNext {
	@apply px-4;
}

.paginatePrevious {
	@apply px-4;
}

.paginateActive {
	@apply text-amber-600 font-bold;
}

.shadow {
	text-shadow: 4px 4px 2px #dedede;
}

.alertContainer {
	font-size: 1px;
}

.alertTitle {
	font-size: 48px;
}

.alertInput {
	font-size: 36px;
}

.alertButton {
	border-radius: 50%;
}

.alertValidation {
	font-size: 24px;
}
