@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Lato:ital,wght@0,400;1,100;1,300&family=Montserrat+Subrayada:wght@700&family=Roboto+Flex&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Kanit", sans-serif;
	font-family: "Lato", sans-serif;
	font-family: "Montserrat Subrayada", sans-serif;
	font-family: "Roboto Flex", sans-serif;
	font-weight: 400;
	font-size: 48px;
	color: #ffffff;
}

select {
	appearance: none;
	min-width: 90px;
	
	z-index: 10;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.05);
	border-width: 2px;
	margin-left: 14px;
	margin-bottom: 10px;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
	border-radius: 14px;

	padding-left: 7px;
}

select option {
	background-color: rgb(30, 30, 30);
}

